@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

html,
body {
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}

.tchat {
  position: absolute;
  inset: 0;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: var(--align);
  gap: 1rem;
  z-index: 3;
  max-width: 1200px;
  margin: 0 auto 1rem;
  padding: var(--vertical-padding) var(--horizontal-padding);
}

.message {
  position: relative;
  align-self: var(--position);
  animation: MessageIn 1s;
  width: fit-content;
  padding-bottom: 16px;
  color: var(--color);
  font-size: 15pt;
  max-width: 80%;
}

.message.full {
  max-width: 100%;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
.message.full .name-container {
  margin: 0 auto;
}

.name-container {
  font-weight: 600;
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 40px;
  height: 40px;
  width: fit-content;
  position: relative;
  top: 4px;
  z-index: 4;
  background-image: var(--banner);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: center center;
  margin: 0 48px;
}

.name-container .scroll {
  width: 24px;
}

.name-container .scroll:first-child {
  position: relative;
  left: -12px;
}

.name-container .scroll:last-child {
  position: relative;
  right: -12px;
}

.meta {
  position: relative;
  left: -8px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  color: var(--color);
  align-items: center;
  gap: 0.25rem;
  font-weight: bold;
}

.content {
  position: relative;
  z-index: 2;
  padding: 16px 40px;
  margin-bottom: 8px;
}

.content .emote {
  max-width: 1rem;
  max-height: 1rem;
}

.content.emote-only .emote {
  max-width: 2rem;
  max-height: 2rem;
}

.sub-badge,
.bits-badge {
  max-width: 2rem;
  max-height: 2rem;
  position: relative;
  top: -0.5rem;
}

.sub-badge + .bits-badge {
  max-width: 1.5rem;
  max-height: 1.5rem;
  position: relative;
  top: -0.25rem;
}

.badges {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.badges img {
  max-width: 1rem;
  max-height: 1rem;
}

.message-box {
  position: absolute;
  top: 8px;
  left: 0px;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.message-box.animated {
  animation: AnimateBox 750ms steps(1, end) 0s var(--animation-cycles) normal
    forwards;
}

@keyframes MessageIn {
  from {
    transform: translateX(20px);
    opacity: 0;
    max-height: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
    max-height: 400px;
  }
}

@keyframes AnimateBox {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  25% {
    transform: scaleX(-1) scaleY(1);
  }
  50% {
    transform: scaleX(-1) scaleY(-1);
  }
  75% {
    transform: scaleX(1) scaleY(-1);
  }
}
